.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
vignette/data.csv
vignette/SPAR.html
/vignette/SPAR_files/figure-html
vignette/SPAR.html
vignette/SPAR.html
/vignette/Figures
/spar.Rcheck
/spareg.Rcheck
/vignettes/_extensions
/vignettes/Figures
/vignettes/SPAR_files
*.aux
*.blg
*.log
vignettes/*.rda
vignettes/*.csv
vignettes/*.mat
